@model RockPaperScissorsWebApp.Models.ScorecardViewModel 

@{
    ViewBag.Title = "Scorecard";
}
<div class="row">
    <h1 class="text-center text-success">@Model.Message</h1>
</div>
<div class=" text-center row">
    <h1 class=" text-center col-xs-4 col-xs-push-1">@Model.Player1Gesture</h1>
    <h1 class=" text-center col-xs-4 col-xs-push-3">@Model.Player2Gesture</h1>
</div>
<div class="row">
    <h4 class="text-center">Score</h4>
</div>
<div class=" text-center row">
    <h4 class="col-xs-4 text-right">@Model.Player1Name</h4>
    <h4 class="col-xs-2 col-xs-push-1 text-center">@Model.Player1Score : @Model.Player2Score</h4>
    <h4 class="col-xs-4 col-xs-push-2 text-left">@Model.Player2Name</h4>
</div>

<div class=" text-center row">
    <div class="text-center btn-lg">@Html.ActionLink("Play again", "OldGame")</div>
    <div class="text-center btn-lg">@Html.ActionLink("New game", "Index")</div>
</div>

@Html.Partial("History",@Model.History)


