<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rock paper Scissors</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top col-xs-10 col-xs-offset-1">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rock Paper Scissors", "Index", "Game", null, new { @class = "navbar-brand" })
            </div>

        </div>
    </div>
    <div class="container body-content row col-xs-10 col-xs-offset-1">
        @RenderBody()
    </div>
    <footer class="navbar navbar-fixed-bottom">
        <h6 class="text-right col-xs-10 col-xs-offset-1">&copy; @DateTime.Now.Year Murray Macdonald</h6>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
